<!DOCTYPE html>
<html>
<head>
  <title>Nám</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('components/header') %>
    <main>
        <div class="container">
            <div class="card">
                <% if (program) { %>
                    <h1><%= program.title %></h1>
                    <p><%= program.description %></p>
                
                    <div class="result">
                        <p><strong>Hvar er hægt að læra þetta?</strong></p>
                        <p>
                            <a href="<%= program.link %>" target="_blank"><%= program.school %></a>
                        </p>
                    </div>
                <% } else { %>
                    <p>Nám fannst ekki.</p>
                <% } %>

                <button type="button" class="btn" onclick="history.back()">Til baka</button>
            </div>
        </div>
    </main>
    <%- include('components/footer') %>
</body>
</html>