<!DOCTYPE html>
<html>
<head>
  <title>Niðurstaða</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <%- include('components/header') %>
  <main>
    <div class="container">
      <div class="card">
        <h1>Þetta gæti hentað þér:</h1>

        <% if (programs && programs.length > 0) { %>

          <% programs.forEach((p, index) => { %>
            <div class="result">
              <h2>
                <a href="/quiz/program/<%= p.title %>">
                  <%= index + 1 %>. <%= p.title %>
                </a>
              </h2>
              
              <p><%= p.description %></p>
              <p><strong>Match:</strong> <%= p.score * 10 %>%</p>
            </div>
          <% }) %>

        <% } else { %>
          <p>Engin niðurstaða fannst.</p>
        <% } %>

        <a href="/" class="btn">Til baka</a>
      </div>
    </div>
  </main>
  <%- include('components/footer') %>
</body>
</html>